<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="productivityKit" type="SIM.Base.AppConfigSectionHandler, SIM.Base" />
  </configSections>
  <productivityKit>
    <clickActions>
      <!--Free actions (don't depend on instance) -->
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.FreeHandlers.CallRefreshDialog</type>
        <alias>CallRefreshDialog</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.FreeHandlers.IISReset</type>
        <alias>IISReset</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.FreeHandlers.InstallInstance</type>
        <alias>InstallInstance</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.FreeHandlers.OpenPluginContainingFolderAnywhere</type>
        <alias>OpenPluginContainingFolderAnywhere</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.FreeHandlers.OpenFileOrFolderAnywhere</type>
        <alias>OpenFileOrFolderAnywhere</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.FreeHandlers.OpenFileOrFolderAnywhereWithConfirmation</type>
        <alias>OpenFileOrFolderAnywhereWithConfirmation</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.FreeHandlers.OpenSIMWindow</type>
        <alias>OpenSIMWindow</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.FreeHandlers.RunShowConfigBuilder</type>
        <alias>RunShowConfigBuilder</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      
      <!--Instance specific actions -->
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.InstanceHandlers.OpenFileOrFolderInsideRoot</type>
        <alias>OpenFileOrFolderInsideRoot</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.InstanceHandlers.OpenFileOrFolderInsideRootWithConfirmation</type>
        <alias>OpenFileOrFolderInsideRootWithConfirmation</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.InstanceHandlers.RunPage</type>
        <alias>RunPage</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.InstanceHandlers.ToggleInstanceMarking</type>
        <alias>ToggleInstanceMarking</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.InstanceHandlers.UninstallInstance</type>
        <alias>UninstallInstance</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.InstanceHandlers.OpenCurrentLog</type>
        <alias>OpenCurrentLog</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.InstanceHandlers.OpenVisualStudioProject</type>
        <alias>OpenVisualStudioProject</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
      <action>
        <type>TrayPluginProductivityKit.SuperClick.SpecializedHandlers.InstanceHandlers.OpenVisualStudioProjectWithConfirmation</type>
        <alias>OpenVisualStudioProjectWithConfirmation</alias>
        <format>don't use</format>
        <description>empty</description>
      </action>
    </clickActions>
  </productivityKit>
</configuration>